.menu-bar {
    font-size: var(--size-3xl);
    color: var(--clr-secondary);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1.5rem;
    top:  1.5rem;
    position: fixed;
    border-radius: 4px;
    background-color: var(--clr-navbar-background);
    cursor: pointer;
    z-index: 9999;
}

.header {
    position: fixed;    
    /* !Off temporary */
    left: -100%;
    top: 0;
    width: 11rem;
    height: 100vh;
    background-color: var(--clr-navbar-background);
    border-right: 1px solid var(--clr-tertiary);
    transition: .5;
}

.header.active {
    left: 0;
}

.navbar__list {
    list-style: none;
}

/* .navbar__logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1.8rem;
    left: 1.8rem;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    background-color: var(--clr-secondary);
} */

.navbar__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.menu {
    margin-top: 5.5rem;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.5rem;
    /* left: 1.5rem; */
}

.navbar__link {
    position: relative;
    font-weight: 300;

    font-size: var(--size-xl);
    color: var(--clr-secondary);
    cursor: pointer;

    transition: 0.4s;
}

/* .navbar__link.active-link::after {} */

.navbar__link.active-link, 
.navbar__link:hover {
    color: var(--clr-tertiary);
}

/* .navbar__link.active-link::after {} */

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
/* @media (min-width: 768px) {} */
/* lg */

@media (min-width: 768px) {
    .menu-bar {
        display: none;
    }

    .header {
        display: block;
        position: fixed;    
        left: 0;
        top: 0;
        width: 100px;
        height: 100svh;
        background-color: var(--clr-navbar-background);
        border-right: 1px solid var(--clr-tertiary);
    }
    
    .navbar__list {
        list-style: none;
    }
    
    .navbar__logo {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 1.8rem;
        left: 1.8rem;
        margin: auto;
        text-align: center;
        border-radius: 50%;
        background-color: var(--clr-secondary);
    }
    
    .navbar__menu {
        position: absolute;
        width: 100vh;
        height: 100px;

        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    
    .navbar__list {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .navbar__link {
        float: right;
        position: relative;
        font-weight: 400;
        color: var(--clr-tertiary);
        line-height: 100px;
        padding: 0 1rem;
    
        /* height: 100%; */
        transition: 0.4s;
    }
    
    .navbar__link.active-link, 
    .navbar__link:hover {
        color: var(--clr-secondary);
    }
    
    .navbar__link.active-link::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        bottom: 1.8rem;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
    
        background-color: var(--clr-secondary);
    }

    .navbar__item a {
        color: var(--clr-tertiary);
    }
}
/* xl */
/* @media (min-width: 1280px) {} */
/* xxl */
/* @media (min-width: 1536px) {} */
