:root {
    --primary: #05204A;
    --secondary: #E1E2EF;
    --background: #02020A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #fff;
    height: 10000px ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    background-color: rgba(20, 20, 70, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.navbar .navbar-logo {
    width: 240px;
}

.navbar .navbar-item a {
    margin: 0 0.8rem;
    display: inline-block;
    color: #fff;
}

.navbar .navbar-item a:hover {
    color: rgb(0, 0, 255);
}

.navbar .navbar-item a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(0, 0, 255);
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.2s linear;
}

.navbar .navbar-item a:hover::after {
    transform: scaleX(0.9);
}

#menu-icon {
    color: #fff;
    display: none;
}

.landing-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* TODO::Fix this */
    background-image: url('../images/gunawan_backgorund_landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* TODO::Check Again */
.landing-page::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(1,1,3,1), 8%, rgba(255, 255, 255, 0), 55%);
}

.landing-page .content {
    padding: 1.7rem 7%;
    max-width: 60%;
}

.landing-page .content h1 {
    font-size: 5rem;
    color: #fff;
}

.landing-page .content p {
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 100;
}

.container {
    background-color: midnightblue;
    margin: 0 10%;
}

.container .section-title {
    text-align: center;
    font-size: 4rem;
}

.container .row {
    display: flex;
    gap: 4rem;
    padding: 4rem;
    padding-top: 0;   
}

/* ------------------------------------------ */

.container .row .col-1 {
    flex-basis: 40%;

    /* !Just For Debugging */
    min-height: 40rem;
    background-color: blue;
}

.container .row .col-2 {
    flex-basis: 60%;
    
    /* !Just For Debugging */
    background-color: blueviolet;
}

.container .row .col-2 .about-desc {
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.container .row .col-2 .about-tab-titles {
    padding: 0 1.5rem 0.1rem 1.5rem;
    display: flex;
    margin-bottom: 0.5rem;
}

.container .row .col-2 .about-tab-titles .tab-link {
    font-size: 1.5rem;
    margin-right: 2rem;
    display: inline-block;
    
    cursor: pointer;
    position: relative;
}

.container .row .col-2 .about-tab-titles .tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -0.2rem;
    position: absolute;
    transition: 0.5s;
    /* TODO::Consider */
    background-color: blue; 
}

.container .row .col-2 .about-tab-titles .tab-link.active-link::after {
    width: 50%;
}


.container .row .col-2 .about-tab-content {
    padding-left: 2rem;
}

.container .row .col-2 .about-tab-content .tab-item {
    width: 90%;
}

.container .row .col-2 .about-tab-content .tab-item h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.container .row .col-2 .about-tab-content .tab-item p {
    font-weight: 300;
}
/* Breakpoints */


/* Laptop */
@media(max-width: 1366px) {
    html {
        font-size: 75%;
    }
    /* TODO::Also need to resize the logo */
    .navbar .navbar-logo {
        width: 200px;
    }
}

/* Tablet */
@media(max-width: 768px) {
    html {
        font-size: 62.5%;
    }
   /* TODO::Also need to resize the logo */
   .navbar .navbar-logo {
        width: 160px;
    }
    .navbar .navbar-item {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s ease-in-out;
    }

    .navbar .navbar-item.active {
        right: 0;
    }

    .navbar .navbar-item a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.7rem;
    }

    .navbar .navbar-item a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-item a:hover::after {
        transform: scaleX(0.2);
    }

    #menu-icon {
        display: inline-block;
    }
}

/* Mobile */
@media(max-width: 450px) {
    html {
        font-size: 55%;
    }
    /* TODO::Also need to resize the logo */
}